.allRemarkContainer {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    padding: 25px 25px 10px 25px;
}

.remarkModalContainer {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 10px;
    width: 500px;
    height: 350px;
    padding: 25px 20px 20px 20px;
}

.remarkTitle { 
    font-size: 18px;
    color: #748AA1;
    font-weight: bold;
    letter-spacing: 0.1em;  
}

.remarkRow {
    border-bottom: 2px solid #E5E5E5 ;
    padding: 10px 0px;
}

.remarkSid {
    color: #31394D;
    font-weight: bold;
}

.remarkType {
    color: #B6B6B6;
    font-weight: bold;
    font-style: italic;
}

.allRemarkText {
    margin-top: 10px;
    color: #52575C;
}

.allRemarkContent {
    overflow-y: scroll;
    height: 85%;
    padding: 0px;
}

.remarkModalContent {
    overflow-y: hidden;
    height: 60%;
    padding: 0px;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.idOfInterest {
    color: #B6B6B6;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 10px;
}

.remarkButton {
    display: flex;
    justify-content: flex-end;
    padding:0px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.remarkCloseButton {
    display: flex;
    justify-content: flex-end;
    padding:0px;
}

.remarkInput {
    width: 320px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}

.editContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 50px;
}

.changesSaved {
    font-style: italic;
    color: #748AA1;
}

.saveContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 8px 8px 8px;
}

.remarkText {
    color: #52575C;
    padding: 10px;
}

/* Modal backdrop */
#allRemarkModal > .css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    background-color: rgba(0, 0, 0, 0.05);
}

#remarkModal > .css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    background-color: rgba(0, 0, 0, 0.01);
}

.css-919eu4 {
    background-color: rgba(0, 0, 0, 0.05);
}
