.createField {
    display:flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
}

.createContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
    position: relative;
    top: 10%;
}

.errorList {
    padding-left: 0px;
    margin: 0px;
}

#createAccountBack {
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px;
    padding: 0px
}

#createAccountBack:hover {
    cursor: pointer;
}